@import url("font/stylesheet.css");

body {
    'TitilliumText25L400wt', Arial, sans-serif;letter-spacing: 0;
}

.gravel2 {
    line-height: 1.5em;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.examples {
width: 1000px;
margin: 0 auto;
}

.example {
border-radius: 2px;
width: 43%;
margin: 2%;
padding: 1%;
float: left;
box-shadow: 0 1px 1px rgba(139, 139, 139, 0.41);
background: rgba(150, 219, 158, 0.23);
}

.example pre {
background: rgb(213, 213, 213);
border-radius: 2px;
padding: 2%;
margin: 1%;
box-shadow: 0 2px 0px 0px rgba(51, 51, 51, 0.2);
white-space: inherit;
text-indent: 20px;
text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
font-family: "courier new", monospace;
font-size: 12px;
clear: both;
display: inline-block;
margin-top: 10px;
width: 94%;
}

.example p {
margin: 0 5px;
font-family: 'arial';
font-size: 12px;
line-height: 2em;
color: rgb(51, 51, 51);
width: 82%;
float: left;
}

.run-example {
float: left;
padding: 8px 10px;
font-size: 14px;
text-transform: uppercase;
border: none;
width: 15%;
background: rgb(55, 136, 199);
border-radius: 2px;
box-shadow: 0 2px 0px rgba(66, 66, 66, 0.25);
color: rgb(255, 255, 255);
letter-spacing: 1px;
cursor: pointer;
}

.run-example:hover {
background: rgb(97, 161, 211);
}

.pop-example {
margin: 1%;
padding: 10px;
border-radius: 2px;
background: rgb(255, 255, 255);
margin-top: 3%;
font-family: Arial;
font-size: 13px;
}

.pop-example h2 {
margin: 0px 0 5px;
color: rgb(51, 51, 51);
}

.pop-example p {
float: none;
line-height: 1.5em;
margin-bottom: 15px;
margin-left: 0px;
}